<div ng-controller="selectCoordsController">

  <div class='row text-center'>

    <span class='text-logo'>

      <a href="#/">whirlds</a>

    </span>

  </div>

  <div class="row">

    <div class="whirld-container">

      <google-map></google-map>

    </div>
  
  </div>

  <div class="button-container" >

    <a class="button" ng-show="url.lat > 1" ng-href="#/whirld/{{url.lat}},{{url.lng}}/{{url.radius}}">Start</a>
    <span class="button" style="border: none" ng-hide="url.lat > 1">Select a point on the map.</span>

  </div>

  <div class='row text-center footer-links'>

    By <a href="http://danwilkerson.com">Dan Wilkerson</a> with patient guidance, help, & advice from <a href="https://twitter.com/tbloncar">Travis Loncar</a>. Inspired by <a href="http://www.kevinbparry.com/">Kevin Parry</a>.
    <br><br>
    <a href='mailto:notdanwilkerson@gmail.com'>Contact Dan</a>.

  </div>

</div> 
