<!DOCTYPE html>
  <html ng-app='whirldsJs'>

    <head>

      <meta name="viewport" content="width=device-width initial-scale=1.0 user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="none">
      <meta charset="utf-8">

      <script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
      <script type="text/javascript" src="/assets/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="/assets/js/whirlds-main.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.14&key=AIzaSyBjuCD0AeIVgL0d13DB0H3m8oySClh4x_A&libraries=geometry"></script>

      <link rel='stylesheet' href='/assets/css/styles.css' />

    </head>

    <body ng-view=""></body>

  </html>