<div class="container">

  <div class='row text-center'>

    <span class='text-logo'>

      <a href="#/">whirlds</a>

    </span>

  </div>

  <div class='row whirld-container'>

    <div ng-repeat="image in images" ng-show="image.visible" class='whirld-image-container'>

      <img class='whirld-image' ng-src="{{image.src}}" />

    </div>

  </div>

  <div class="row text-center">

    Share this:

  </div>
  <div class="row text-center">

    <a ng-href="{{fbUrl}}"><img class="social-share" src="/assets/img/facebook.png"></a>
    <a ng-href="{{twUrl}}"><img class="social-share" src="/assets/img/twitter.png"></a>

  </div>

  <div class="row text-center">

    <div class="button-container">

      <a class="button" href="#/">Make Another</a>
      <!--<a class="button" href="#/">Share This</a>-->

    </div>

  </div>

  <div class='row text-center footer-links'>

    By <a href="http://danwilkerson.com">Dan Wilkerson</a> with patient guidance, help, & advice from <a href="https://twitter.com/tbloncar">Travis Loncar</a>. Inspired by <a href="http://www.kevinbparry.com/">Kevin Parry</a>.
    <br><br>
    <a href='mailto:notdanwilkerson@gmail.com'>Contact Dan</a>.

  </div>


</div>
